* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f8ff;
  color: #111;
}


/* Navigation */
.navbar {
  background: linear-gradient(90deg, #0047ff, #001f99);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  color: white;
  font-size: 28px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 25px;
  font-size: 17px;
}


/* Hero Section */
.hero {
  min-height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
  background: white;
}


.hero-text {
  max-width: 550px;
}


.hero-text h2 {
  font-size: 50px;
  color: #0047ff;
  margin-bottom: 20px;
}


.hero-text p {
  font-size: 20px;
  line-height: 1.6;
  color: #222;
  margin-bottom: 30px;
}


/* Phone Image */
.hero-image img {
  width: 280px;
  height: auto;
  object-fit: contain;
}


/* Buttons */
button {
  background: #0047ff;
  color: white;
  border: none;
  padding: 15px 35px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
}


/* Products */
.products {
  padding: 60px 30px;
  text-align: center;
}


.products h2 {
  color: #0047ff;
  font-size: 35px;
}


.product-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 35px;
}


.product-card {
  background: white;
  width: 280px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.12);
}


.product-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}


.product-card h3 {
  color: #0047ff;
  font-size: 22px;
  margin: 15px 0;
}


.product-card p {
  color: #333;
}


/* About Section */
.about {
  background: #0047ff;
  color: white;
  padding: 50px;
  text-align: center;
}


.about h2 {
  color: white;
  margin-bottom: 20px;
}


/* Contact */
.contact {
  padding: 50px;
  text-align: center;
}


.contact h2 {
  color: #0047ff;
}


/* Footer */
footer {
  background: #001f99;
  color: white;
  text-align: center;
  padding: 20px;
}


/* Background Design */
body::before {
  content: "";
  position: fixed;
  top: -100px;
  right: -100px;
  width: 300px;
  height: 300px;
  background: #0047ff;
  opacity: 0.08;
  border-radius: 50%;
  z-index: -1;
}


body::after {
  content: "";
  position: fixed;
  bottom: -100px;
  left: -100px;
  width: 300px;
  height: 300px;
  background: #000;
  opacity: 0.05;
  border-radius: 50%;
  z-index: -1;
}